build
.vscode
*.hypothesis
*$py.class
*.class
*.pyc
**/node_modules
**/yarn-error.log
**/.gradle
**/.classpath
**/.project
**/.pydevproject
**/.settings
**/*.egg-info/
**/*.eggs/
**/.mypy*
.DS_Store
*.cache
**/*.db
.env
