# Based on example from https://github.com/actions/upload-release-asset
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - '2*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Upload Release Asset

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build pkg
        run:
          sudo apt update || apt update;
          sudo apt-get install -y python3 python3-pip || apt-get install -y python3 python3-pip;
          pip3 install virtualenv;
          python3 -m virtualenv $GITHUB_WORKSPACE/.venv/;
          source $GITHUB_WORKSPACE/.venv/bin/activate && python package.py;
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: true


      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/cyclecloud-pbspro-pkg-${{ steps.get_version.outputs.version }}.tar.gz
          asset_name: cyclecloud-pbspro-pkg-${{ steps.get_version.outputs.version }}.tar.gz
          asset_content_type: application/gzip

      
      - name: Upload cyclecloud_api-8.3.1-py2.py3-none-any.whl;
        id: upload-0
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/cyclecloud_api-8.3.1-py2.py3-none-any.whl
          asset_name: cyclecloud_api-8.3.1-py2.py3-none-any.whl;
          asset_content_type: application/octet-stream

      - name: Upload hwloc-libs-1.11.9-3.el8.x86_64.rpm;
        id: upload-1
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/hwloc-libs-1.11.9-3.el8.x86_64.rpm
          asset_name: hwloc-libs-1.11.9-3.el8.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload openpbs-client-20.0.1-0.x86_64.rpm;
        id: upload-2
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/openpbs-client-20.0.1-0.x86_64.rpm
          asset_name: openpbs-client-20.0.1-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload openpbs-client-22.05.11-0.x86_64.rpm;
        id: upload-3
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/openpbs-client-22.05.11-0.x86_64.rpm
          asset_name: openpbs-client-22.05.11-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload openpbs-execution-20.0.1-0.x86_64.rpm;
        id: upload-4
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/openpbs-execution-20.0.1-0.x86_64.rpm
          asset_name: openpbs-execution-20.0.1-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload openpbs-execution-22.05.11-0.x86_64.rpm;
        id: upload-5
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/openpbs-execution-22.05.11-0.x86_64.rpm
          asset_name: openpbs-execution-22.05.11-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload openpbs-server-20.0.1-0.x86_64.rpm;
        id: upload-6
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/openpbs-server-20.0.1-0.x86_64.rpm
          asset_name: openpbs-server-20.0.1-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload openpbs-server-22.05.11-0.x86_64.rpm;
        id: upload-7
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/openpbs-server-22.05.11-0.x86_64.rpm
          asset_name: openpbs-server-22.05.11-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload pbspro-client-18.1.4-0.x86_64.rpm;
        id: upload-8
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/pbspro-client-18.1.4-0.x86_64.rpm
          asset_name: pbspro-client-18.1.4-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload pbspro-debuginfo-18.1.4-0.x86_64.rpm;
        id: upload-9
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/pbspro-debuginfo-18.1.4-0.x86_64.rpm
          asset_name: pbspro-debuginfo-18.1.4-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload pbspro-execution-18.1.4-0.x86_64.rpm;
        id: upload-10
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/pbspro-execution-18.1.4-0.x86_64.rpm
          asset_name: pbspro-execution-18.1.4-0.x86_64.rpm;
          asset_content_type: application/octet-stream

      - name: Upload pbspro-server-18.1.4-0.x86_64.rpm;
        id: upload-11
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_PAT }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: blobs/pbspro-server-18.1.4-0.x86_64.rpm
          asset_name: pbspro-server-18.1.4-0.x86_64.rpm;
          asset_content_type: application/octet-stream

